$form-max-width: 380px;
.auth-page{
  @include flexbox();
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: $auth-bg;
  color: white;
  @include fluidFontSize(14px, 14px, 400px, 1600px, 18px);
  &__form-holder{
    flex:1;
    max-width: $form-max-width;
    margin: auto;
  }
  &__form{
    @include flexbox($justifyContent: center);
    min-height: 90vh;
    input{
      background: transparent;
      border: none;
      border-bottom: 1px solid $muted-color;
      width: 100%;
      padding: 4px;
      margin: 38px 0 0 0;
      color: white;
      &:focus,
      &:active{
        outline: none;
      }
      &::placeholder{
        color: $muted-color;
      }
    }
    .error input,
    input.error{
      color: $danger-color;
      border-color: $danger-color;
      &::placeholder{
        color: $danger-color;
      }
    }
    .button-holder{
      text-align: center;
      margin: 65px auto 45px;
    }
    button{
      padding: 12px 56px;
    }
    h1{
      font-size: 44px;
      margin: 0 0 10px 0;
      font-weight: lighter;
      @include for-phone-only{
        font-size: 22px;
      }
      &::before{
        content: '';
        width: 77px;
        height: 117px;
        display: inline-block;
        margin-right: 23px;
        @include imgRetina("../img/paragraph", png, 77px, 117px);
        @include for-phone-only{
          width: 36px;
          height: 59px;
          background-size: 36px 59px !important;
        }
      }
    }
    .sub-title{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      color: $muted-color;
      @include for-phone-only{
        font-size: 10px;
      }
    }
  }
  &__notice{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: $form-max-width;
    font-size: 12px;
    color: $muted-color;
    text-align: center;
    margin: auto;
    padding: 0 20px 0;
    small{
      font-size: 11px;
    }
    &>div{
      margin-bottom: 30px;
      @include for-phone-only{
        margin-bottom: 10px;
      }
    }
  }
  .lnk{
    color: $muted-color;
    text-decoration: none;
    transition: .3s ease-in-out;
    &:hover{
      text-decoration: underline;
      color: white;
    }
  }
}