.filter{
  flex: 0 0 270px;
  background: #f7f6fc;
  box-shadow: 3px 0 4px -1px rgba(black, .5);
  position: relative;
  z-index: 2;
  &__header{
    padding: 15px 25px;
    background: $navbar-bg;
    color: white;
    overflow: hidden;
    height: 51px;
    h3{
      font-weight: lighter;
      margin: 0;
      font-size: 15px;
    }
    .button{
      margin-left: 7px;
    }
  }
  .form-holder{
    @include content-spacing;
  }
  .label-txt{
    font-size: 11px;
  }

  //form
  label{
    display: block;
    margin-bottom: 12px;
  }
  input, .tags-holder{
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 8px;
    width: 100%;
    font-size: 12px;
    &:focus,
    &:active{
      outline: none;
    }
  }
  .label-txt{
    margin-bottom: 4px;
  }
  .tags-holder{
    min-height: 60px;
    padding: 4px 4px 0 0;
    .badge{
      margin: 0 0 4px 4px;
    }
  }
  .date-input{
    position: relative;
    width: 107px;
    .txt{
      position: absolute;
      left: 8px;
      top: 6px;
      font-size: 12px;
    }
    input{
      padding-left: 22px;
    }
  }
}