/* roboto-regular - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

@mixin font-family {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

html, body{
  @include font-family;
  font-size: 14px;

}

a{
  text-decoration: none;
}

b, strong{
  font-weight: 700;
}