.button, button{
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 16px;
  background: transparent;
  color: white;
  text-decoration: none;
  transition: .3s ease-in-out;
  font-size: 12px;
  text-align: center;
  &.small-btn{
    padding: 3px 7px;
  }
  &.danger{
    min-width: 53px;
    color: $danger-color;
    border-color: $danger-color;
  }
}

.badge{
  display: inline-block;
  margin: 0 2px;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  line-height: 1em;
  font-size: 12px;
  vertical-align: middle;
  &.danger{
    background: $danger-color;
  }
  &.info{
    background: $info-color;
  }
  &.warning{
    background: $warning-color;
  }
  &.success{
    background: $success-color;
  }
  &.decline{
    background: $decline-color;
  }
  &.closed{
    background: $closed-color;
    color: #999;
  }
  .remove-badge{
    display: inline-block;
    width: 9px;
    height: 9px;
    vertical-align: middle;
    margin-right: -2px;
    cursor: pointer;
    @include imgRetina("../img/close", png, 9px, 9px)
  }
}
