.text-center{
  text-align: center;
}
.text-muted{
  color: $muted-color;
}
.text-muted-c{
  color: $muted-color-c;
}
.text-danger{
  color: $danger-color;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}
.overflow{
  overflow: hidden;
}
.small{
  font-size: 10px;
}
