.navbar{
  @include flexbox($direction: row);
  width: 100%;
  background: $navbar-bg;
  a{
    display: block;
    color: white;
    border-right: 1px solid $nav-border-clr;
    padding: 15px 25px;
    min-width: 140px;
    text-align: center;
    transition: background .3s ease-in-out;
    &:hover,
    &.active{
      background: #7d71d7;
    }
    &.active{
      cursor: default;
    }
    span{
      display: inline-block;
      position: relative;
    }
    .counter{
      $counter-size: 14px;
      position: absolute;
      border-radius: $counter-size;
      font-size: 8px;
      line-height: $counter-size - 2px;
      text-align: center;
      right: -15px;
      top: -8px;
      color: white;
      min-width: $counter-size;
      height: $counter-size;
      background: $danger-color;
      border: 1px solid white;

    }
  }
}