.wrapper{
  @include flexbox($direction: row);
  min-height: 100vh;

  .content{
    @include flexbox($direction: column, $grow: 1);
    .table-holder{
      @include flexbox($direction: row);
      flex: 1 0 0;
    }
    .orders-holder{
      min-width: 720px;
      width: 100%;
      position: relative;
      z-index: 0;
    }
  }
}