@mixin item-hover{
  background: #8679e7;
  color: white;
}
.pagination{
  @include flexbox($direction: row, $placeItems: flex-start);
  list-style: none;
  padding: 0 25px;

  &__item{
    margin: 10px;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &.current a{
      @include item-hover;
    }
    a{
      border-radius: 4px;
      padding: 6px 9px;
      line-height: 1em;
      font-size: 12px;
      background: $closed-color;
      color: #989898;
      display: inline-block;
      &:hover{
        @include item-hover;
      }
    }
  }
}