.profile{
  font-size: 12px;
  line-height: 1.5em;
  &__data{
    @include sidebar-border;
    padding: 20px 16px;
    .ava{
      float: left;
      width: 58px;
      height: 58px;
      overflow: hidden;
      border-radius: 58px;
      border: 2px solid white;
      background: white;
      text-align: center;
      line-height: 54px;
      img{
        vertical-align: middle;
        max-width: 58px;
      }
    }
    .txt{
      margin-left: 80px;
      .small{
        margin-top: 10px;
        line-height: 1.1em;
      }
    }
  }
  &__actions{
    @include sidebar-border;
    @include sidebar-spacing;
    font-size: 11px;
  }
}