.questionary{
  padding: 20px 16px;
  @include sidebar-border;
  font-size: 12px;
  &__header{
    margin-bottom: 26px;
  }
  &__item{
    overflow: hidden;
    margin-top: 20px;
    .folder-type{
      float: left;
      width: 23px;
      height: 27px;
      position: relative;
      @include imgRetina("../img/folder", png, 23px, 27px);
      &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
      }
    }
    &.danger .folder-type::before{
      background: $danger-color;
    }
    &.info .folder-type::before{
      background: $info-color;
    }
    &.warning .folder-type::before{
      background: $warning-color;
    }
    .txt{
      margin-left: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}