.sidebar-holder{
  display: flex;
  .sidebar{
    flex: 1;
    background: $auth-bg;
    color: white;
    max-width: 270px;

    &__header{
      @include sidebar-spacing;
      @include sidebar-border;
      overflow: hidden;
      .logo{
        font-size: 11px;
        font-weight: lighter;
        text-decoration: none;
        color: white;
        &::before{
          content: '';
          width: 13px;
          height: 21px;
          display: inline-block;
          margin-right: 5px;
          @include imgRetina("../img/paragraph", png, 13px, 21px);
        }
      }
      .menu-toggle{
        float: right;
        display: block;
        position: relative;
        z-index: 1;
        user-select: none;
        top: 6px;
        cursor: pointer;
        span{
          display: block;
          width: 14px;
          height: 2px;
          margin-bottom: 3px;
          position: relative;
          background: white;
          z-index: 1;
          transform-origin: 4px 0;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
          opacity 0.55s ease;
          &:first-child{
            transform-origin: 0 0;
          }
          &:nth-last-child(2){
            transform-origin: 0 100%;
          }
        }
        &.opened span{
            opacity: 1;
            transform: rotate(45deg) translate(-2.5px,-4px);
          &:nth-last-child(2){
            transform: rotate(-45deg) translate(-3px,6.5px)
          }
          &:nth-last-child(3){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
        }
      }
    }
    .feedback-holder{
      margin: 20px 0;
      text-align: center;
      .button{

      }
    }
  }
  @media (max-width: 1200px) {
    .hide-sm{
      display: none;
    }
    .sidebar{
      width: 70px;
    }
  }
}