.tab-header{
  position: relative;
  z-index: 3;
  background: white;
  @include content-spacing;
  @include flexbox($direction: row, $placeContent: space-between);

  h2{
    display: inline;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    .order-counter{
      font-size: 16px;
    }
  }
  .filter-icon{
    cursor: pointer;
    width: 20px;
    height: 20px;
    @include imgRetina("../img/filter", png, 14px, 14px);
    background-color: $warning-color;
  }
  .show-select{
    font-size: 13px;
    select{
      margin-left: 10px;
      padding: 4px 10px;
      border-radius: 4px;
      background: white;
    }
  }
}