.order-table{
  table-layout: auto;
  min-width: 100%;
  border-collapse: collapse;
  font-weight: lighter;
  font-size: 12px;
  td, th{
    border: 1px solid #d6e1de;
    padding: 12px 22px;
    text-align: left;
  }
  th{
    background: #dfdcf5;
    color: #666;
    font-weight: lighter;
    font-size: 13px;
    height: 51px;
    border-color: #d4d1e9;
  }
  td{
    background: #deebe7;
    &:first-child{
      position: relative;
      &::before{
        $bullet-size: 8px;
        content: '';
        position: absolute;
        left: 9px;
        top: calc(50% - 5px);
        width: $bullet-size;
        height: $bullet-size;
        border-radius: $bullet-size;
      }
    }
  }
  tr:nth-child(odd) td{
    background: #e5f3e8;
  }
  tr.declined td{
    background: #f1e0e6;
    border-color: #ecdcdb;
    &:first-child::before{
      background: $danger-color;
    }
  }
  a{
    color: $content-lnk;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  tr:hover td{
    background: #f2cf87 !important;
    border-color: #e6c480 !important;
  }


  @media (max-width: 1400px){
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr{
      margin-bottom: 6px;
    }
    td {
      border: none;
      position: relative;
      padding-left: 50%;
      border-bottom:1px solid rgba($muted-color-c, .5);
      transition: all .2s ease-in-out;
      white-space: brake;
    }

    td:after {
      content: attr(data-title);
      position: absolute;
      top: 12px;
      left: 22px;
      width: 45%;
      padding-right: 22px;
      white-space: nowrap;
      font-weight: bold;
    }

  }

}

