$auth-bg: #5e50cd;
$navbar-bg: #6e61d2;
$nav-border-clr: #574cb6;
$auth-color: white;
$muted-color: rgba($auth-color, .4);
$muted-color-c: #b4b4b4;
$font-size: 14px;

$content-lnk: #5e50cd;

$danger-color: #d56461;
$warning-color: #f7c367;
$info-color: #3e9adb;
$success-color: #52ac62;
$decline-color: #c4c4c4;
$closed-color: #f6f6f6;
