//common
@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "helpers";
@import "form-controls";

//components
@import "sidebar";
@import "profile";
@import "questionary";
@import "navbar";
@import "tab-header";
@import "filter";
@import "table";
@import "pagination";
@import "footer";

//pages
@import "auth-page";
@import "order-list";

html, body{
  width: 100%;
  height: 100%;
  background: white;
}

*{
  box-sizing: border-box;
}
