/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* roboto-regular - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-italic - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700italic - latin_cyrillic_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic_cyrillic-ext-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

html, body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px; }

a {
  text-decoration: none; }

b, strong {
  font-weight: 700; }

.text-center {
  text-align: center; }

.text-muted {
  color: rgba(255, 255, 255, 0.4); }

.text-muted-c {
  color: #b4b4b4; }

.text-danger {
  color: #d56461; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.overflow {
  overflow: hidden; }

.small {
  font-size: 10px; }

.button, button {
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 16px;
  background: transparent;
  color: white;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 12px;
  text-align: center; }
  .button.small-btn, button.small-btn {
    padding: 3px 7px; }
  .button.danger, button.danger {
    min-width: 53px;
    color: #d56461;
    border-color: #d56461; }

.badge {
  display: inline-block;
  margin: 0 2px;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  line-height: 1em;
  font-size: 12px;
  vertical-align: middle; }
  .badge.danger {
    background: #d56461; }
  .badge.info {
    background: #3e9adb; }
  .badge.warning {
    background: #f7c367; }
  .badge.success {
    background: #52ac62; }
  .badge.decline {
    background: #c4c4c4; }
  .badge.closed {
    background: #f6f6f6;
    color: #999; }
  .badge .remove-badge {
    display: inline-block;
    width: 9px;
    height: 9px;
    vertical-align: middle;
    margin-right: -2px;
    cursor: pointer;
    background: url("../img/close.png") no-repeat center;
    background-size: 9px 9px !important; }
    @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      .badge .remove-badge {
        background: url("../img/close@2x.png") no-repeat center; } }

.sidebar-holder {
  display: -webkit-box;
  display: flex; }
  .sidebar-holder .sidebar {
    -webkit-box-flex: 1;
            flex: 1;
    background: #5e50cd;
    color: white;
    max-width: 270px; }
    .sidebar-holder .sidebar__header {
      padding: 10px 16px;
      border-bottom: 1px solid #574cb6;
      overflow: hidden; }
      .sidebar-holder .sidebar__header .logo {
        font-size: 11px;
        font-weight: lighter;
        text-decoration: none;
        color: white; }
        .sidebar-holder .sidebar__header .logo::before {
          content: '';
          width: 13px;
          height: 21px;
          display: inline-block;
          margin-right: 5px;
          background: url("../img/paragraph.png") no-repeat center;
          background-size: 13px 21px !important; }
          @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            .sidebar-holder .sidebar__header .logo::before {
              background: url("../img/paragraph@2x.png") no-repeat center; } }
      .sidebar-holder .sidebar__header .menu-toggle {
        float: right;
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        top: 6px;
        cursor: pointer; }
        .sidebar-holder .sidebar__header .menu-toggle span {
          display: block;
          width: 14px;
          height: 2px;
          margin-bottom: 3px;
          position: relative;
          background: white;
          z-index: 1;
          -webkit-transform-origin: 4px 0;
                  transform-origin: 4px 0;
          -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
          .sidebar-holder .sidebar__header .menu-toggle span:first-child {
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0; }
          .sidebar-holder .sidebar__header .menu-toggle span:nth-last-child(2) {
            -webkit-transform-origin: 0 100%;
                    transform-origin: 0 100%; }
        .sidebar-holder .sidebar__header .menu-toggle.opened span {
          opacity: 1;
          -webkit-transform: rotate(45deg) translate(-2.5px, -4px);
                  transform: rotate(45deg) translate(-2.5px, -4px); }
          .sidebar-holder .sidebar__header .menu-toggle.opened span:nth-last-child(2) {
            -webkit-transform: rotate(-45deg) translate(-3px, 6.5px);
                    transform: rotate(-45deg) translate(-3px, 6.5px); }
          .sidebar-holder .sidebar__header .menu-toggle.opened span:nth-last-child(3) {
            opacity: 0;
            -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                    transform: rotate(0deg) scale(0.2, 0.2); }
    .sidebar-holder .sidebar .feedback-holder {
      margin: 20px 0;
      text-align: center; }
  @media (max-width: 1200px) {
    .sidebar-holder .hide-sm {
      display: none; }
    .sidebar-holder .sidebar {
      width: 70px; } }

.profile {
  font-size: 12px;
  line-height: 1.5em; }
  .profile__data {
    border-bottom: 1px solid #574cb6;
    padding: 20px 16px; }
    .profile__data .ava {
      float: left;
      width: 58px;
      height: 58px;
      overflow: hidden;
      border-radius: 58px;
      border: 2px solid white;
      background: white;
      text-align: center;
      line-height: 54px; }
      .profile__data .ava img {
        vertical-align: middle;
        max-width: 58px; }
    .profile__data .txt {
      margin-left: 80px; }
      .profile__data .txt .small {
        margin-top: 10px;
        line-height: 1.1em; }
  .profile__actions {
    border-bottom: 1px solid #574cb6;
    padding: 10px 16px;
    font-size: 11px; }

.questionary {
  padding: 20px 16px;
  border-bottom: 1px solid #574cb6;
  font-size: 12px; }
  .questionary__header {
    margin-bottom: 26px; }
  .questionary__item {
    overflow: hidden;
    margin-top: 20px; }
    .questionary__item .folder-type {
      float: left;
      width: 23px;
      height: 27px;
      position: relative;
      background: url("../img/folder.png") no-repeat center;
      background-size: 23px 27px !important; }
      @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        .questionary__item .folder-type {
          background: url("../img/folder@2x.png") no-repeat center; } }
      .questionary__item .folder-type::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px; }
    .questionary__item.danger .folder-type::before {
      background: #d56461; }
    .questionary__item.info .folder-type::before {
      background: #3e9adb; }
    .questionary__item.warning .folder-type::before {
      background: #f7c367; }
    .questionary__item .txt {
      margin-left: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.navbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  width: 100%;
  background: #6e61d2; }
  .navbar a {
    display: block;
    color: white;
    border-right: 1px solid #574cb6;
    padding: 15px 25px;
    min-width: 140px;
    text-align: center;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    .navbar a:hover, .navbar a.active {
      background: #7d71d7; }
    .navbar a.active {
      cursor: default; }
    .navbar a span {
      display: inline-block;
      position: relative; }
    .navbar a .counter {
      position: absolute;
      border-radius: 14px;
      font-size: 8px;
      line-height: 12px;
      text-align: center;
      right: -15px;
      top: -8px;
      color: white;
      min-width: 14px;
      height: 14px;
      background: #d56461;
      border: 1px solid white; }

.tab-header {
  position: relative;
  z-index: 3;
  background: white;
  padding: 19px 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  place-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0; }
  .tab-header h2 {
    display: inline;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1em;
    margin: 0 8px;
    vertical-align: middle; }
    .tab-header h2 .order-counter {
      font-size: 16px; }
  .tab-header .filter-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url("../img/filter.png") no-repeat center;
    background-size: 14px 14px !important;
    background-color: #f7c367; }
    @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      .tab-header .filter-icon {
        background: url("../img/filter@2x.png") no-repeat center; } }
  .tab-header .show-select {
    font-size: 13px; }
    .tab-header .show-select select {
      margin-left: 10px;
      padding: 4px 10px;
      border-radius: 4px;
      background: white; }

.filter {
  -webkit-box-flex: 0;
          flex: 0 0 270px;
  background: #f7f6fc;
  box-shadow: 3px 0 4px -1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2; }
  .filter__header {
    padding: 15px 25px;
    background: #6e61d2;
    color: white;
    overflow: hidden;
    height: 51px; }
    .filter__header h3 {
      font-weight: lighter;
      margin: 0;
      font-size: 15px; }
    .filter__header .button {
      margin-left: 7px; }
  .filter .form-holder {
    padding: 19px 25px; }
  .filter .label-txt {
    font-size: 11px; }
  .filter label {
    display: block;
    margin-bottom: 12px; }
  .filter input, .filter .tags-holder {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 8px;
    width: 100%;
    font-size: 12px; }
    .filter input:focus, .filter input:active, .filter .tags-holder:focus, .filter .tags-holder:active {
      outline: none; }
  .filter .label-txt {
    margin-bottom: 4px; }
  .filter .tags-holder {
    min-height: 60px;
    padding: 4px 4px 0 0; }
    .filter .tags-holder .badge {
      margin: 0 0 4px 4px; }
  .filter .date-input {
    position: relative;
    width: 107px; }
    .filter .date-input .txt {
      position: absolute;
      left: 8px;
      top: 6px;
      font-size: 12px; }
    .filter .date-input input {
      padding-left: 22px; }

.order-table {
  table-layout: auto;
  min-width: 100%;
  border-collapse: collapse;
  font-weight: lighter;
  font-size: 12px; }
  .order-table td, .order-table th {
    border: 1px solid #d6e1de;
    padding: 12px 22px;
    text-align: left; }
  .order-table th {
    background: #dfdcf5;
    color: #666;
    font-weight: lighter;
    font-size: 13px;
    height: 51px;
    border-color: #d4d1e9; }
  .order-table td {
    background: #deebe7; }
    .order-table td:first-child {
      position: relative; }
      .order-table td:first-child::before {
        content: '';
        position: absolute;
        left: 9px;
        top: calc(50% - 5px);
        width: 8px;
        height: 8px;
        border-radius: 8px; }
  .order-table tr:nth-child(odd) td {
    background: #e5f3e8; }
  .order-table tr.declined td {
    background: #f1e0e6;
    border-color: #ecdcdb; }
    .order-table tr.declined td:first-child::before {
      background: #d56461; }
  .order-table a {
    color: #5e50cd;
    cursor: pointer; }
    .order-table a:hover {
      text-decoration: underline; }
  .order-table tr:hover td {
    background: #f2cf87 !important;
    border-color: #e6c480 !important; }
  @media (max-width: 1400px) {
    .order-table table, .order-table thead, .order-table tbody, .order-table th, .order-table td, .order-table tr {
      display: block; }
    .order-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .order-table tr {
      margin-bottom: 6px; }
    .order-table td {
      border: none;
      position: relative;
      padding-left: 50%;
      border-bottom: 1px solid rgba(180, 180, 180, 0.5);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      white-space: brake; }
    .order-table td:after {
      content: attr(data-title);
      position: absolute;
      top: 12px;
      left: 22px;
      width: 45%;
      padding-right: 22px;
      white-space: nowrap;
      font-weight: bold; } }

.pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  place-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  list-style: none;
  padding: 0 25px; }
  .pagination__item {
    margin: 10px; }
    .pagination__item:first-child {
      margin-left: 0; }
    .pagination__item:last-child {
      margin-right: 0; }
    .pagination__item.current a {
      background: #8679e7;
      color: white; }
    .pagination__item a {
      border-radius: 4px;
      padding: 6px 9px;
      line-height: 1em;
      font-size: 12px;
      background: #f6f6f6;
      color: #989898;
      display: inline-block; }
      .pagination__item a:hover {
        background: #8679e7;
        color: white; }

.footer {
  background: white;
  border-top: 1px solid #b4b4b4;
  color: #b4b4b4;
  font-size: 11px;
  padding: 12px 20px;
  position: relative;
  z-index: 2; }

.auth-page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #5e50cd;
  color: white;
  font-size: 14px; }
  @media (min-width: 400px) {
    .auth-page {
      font-size: 18px;
      font-size: calc( 0 * 100vw + 14px); } }
  @media (min-width: 1600px) {
    .auth-page {
      font-size: 14px; } }
  .auth-page__form-holder {
    -webkit-box-flex: 1;
            flex: 1;
    max-width: 380px;
    margin: auto; }
  .auth-page__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    min-height: 90vh; }
    .auth-page__form input {
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      width: 100%;
      padding: 4px;
      margin: 38px 0 0 0;
      color: white; }
      .auth-page__form input:focus, .auth-page__form input:active {
        outline: none; }
      .auth-page__form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .auth-page__form input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .auth-page__form input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .auth-page__form input::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .auth-page__form input::placeholder {
        color: rgba(255, 255, 255, 0.4); }
    .auth-page__form .error input,
    .auth-page__form input.error {
      color: #d56461;
      border-color: #d56461; }
      .auth-page__form .error input::-webkit-input-placeholder, .auth-page__form input.error::-webkit-input-placeholder {
        color: #d56461; }
      .auth-page__form .error input::-moz-placeholder, .auth-page__form input.error::-moz-placeholder {
        color: #d56461; }
      .auth-page__form .error input:-ms-input-placeholder, .auth-page__form input.error:-ms-input-placeholder {
        color: #d56461; }
      .auth-page__form .error input::-ms-input-placeholder, .auth-page__form input.error::-ms-input-placeholder {
        color: #d56461; }
      .auth-page__form .error input::placeholder,
      .auth-page__form input.error::placeholder {
        color: #d56461; }
    .auth-page__form .button-holder {
      text-align: center;
      margin: 65px auto 45px; }
    .auth-page__form button {
      padding: 12px 56px; }
    .auth-page__form h1 {
      font-size: 44px;
      margin: 0 0 10px 0;
      font-weight: lighter; }
      @media (max-width: 599px) {
        .auth-page__form h1 {
          font-size: 22px; } }
      .auth-page__form h1::before {
        content: '';
        width: 77px;
        height: 117px;
        display: inline-block;
        margin-right: 23px;
        background: url("../img/paragraph.png") no-repeat center;
        background-size: 77px 117px !important; }
        @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
          .auth-page__form h1::before {
            background: url("../img/paragraph@2x.png") no-repeat center; } }
        @media (max-width: 599px) {
          .auth-page__form h1::before {
            width: 36px;
            height: 59px;
            background-size: 36px 59px !important; } }
    .auth-page__form .sub-title {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      color: rgba(255, 255, 255, 0.4); }
      @media (max-width: 599px) {
        .auth-page__form .sub-title {
          font-size: 10px; } }
  .auth-page__notice {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 380px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: auto;
    padding: 0 20px 0; }
    .auth-page__notice small {
      font-size: 11px; }
    .auth-page__notice > div {
      margin-bottom: 30px; }
      @media (max-width: 599px) {
        .auth-page__notice > div {
          margin-bottom: 10px; } }
  .auth-page .lnk {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .auth-page .lnk:hover {
      text-decoration: underline;
      color: white; }

.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  min-height: 100vh; }
  .wrapper .content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    -webkit-box-flex: 1;
            flex-grow: 1; }
    .wrapper .content .table-holder {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: nowrap;
      flex-shrink: 0;
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex: 1 0 0; }
    .wrapper .content .orders-holder {
      min-width: 720px;
      width: 100%;
      position: relative;
      z-index: 0; }

html, body {
  width: 100%;
  height: 100%;
  background: white; }

* {
  box-sizing: border-box; }
