<form class="filter">
    <div class="filter__header">
        <h3 class="f-left">Фильтр</h3>
        <div class="f-right button small-btn danger">Сброс</div>
        <div class="f-right button small-btn">Применить</div>
    </div>
    <div class="form-holder">

        <label>
            <div class="label-txt">
                Статус заявки
            </div>
            <div class="tags-holder">
                <div class="badge info">В ожидании
                    <span class="remove-badge"></span>
                </div>
                <div class="badge success">Распределена
                    <span class="remove-badge"></span>
                </div>
            </div>
        </label>

        <label>
            <div class="label-txt">
                Номер заявки
            </div>
            <input type="text">
        </label>
        <label>
            <div class="label-txt">
                Дата процессуального действия
            </div>
            <div class="overflow">
                <div class="date-input f-left">
                    <div class="txt">c</div>
                    <input type="text">
                </div>
                <div class="date-input f-right">
                    <div class="txt">по</div>
                    <input type="text">
                </div>
            </div>
        </label>

        <label>
            <div class="label-txt">
                Имя лица, кот. назначается адвокат
            </div>
            <input type="text">
        </label>
        <label>
            <div class="label-txt">
                Отчество лица, кот. назначается адвокат
            </div>
            <input type="text">
        </label>
        <label>
            <div class="label-txt">
                Орган, отправляющий заявку
            </div>
            <input type="text">
        </label>
        <label>
            <div class="label-txt">
                Отправитель заявки
            </div>
            <input type="text">
        </label>
        <label>
            <div class="label-txt">
                Предыдущий защитник/представитель
            </div>
            <input type="text">
        </label>

    </div>

</form>