<footer class="footer">
&copy; <span id="year"></span> Адвокадская палата Санкт-Петербурга
</footer>
<script type="text/javascript">
    document.getElementById("year").innerHTML = new Date().getFullYear() + ', ';
</script>