<nav class="navbar">
    <a href="" class="active">
        <span>
            Заявки
            <span class="counter">2</span>
        </span>
    </a>
    <a href="">
        <span>Ордера</span>
    </a>
    <a href="">
        <span>
            Постановления и определения
        </span>
    </a>
    <a href="">
        <span>Дежурства</span>
    </a>
</nav>