<nav>
    <ul class="pagination">
        <li class="pagination__item">
            <a class="page-link" href="#">
                <span>&lt;&lt;</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="page-link" href="#">
                <span>&lt;</span>
            </a>
        </li>
        <li class="pagination__item"><a class="page-link" href="#">1</a></li>
        <li class="pagination__item current"><a class="page-link" href="#">2</a></li>
        <li class="pagination__item"><a class="page-link" href="#">3</a></li>
        <li class="pagination__item">
            <a class="page-link" href="#">
                <span>&gt;</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="page-link" href="#">
                <span>&gt;&gt;</span>
            </a>
        </li>
    </ul>
</nav>