<section class="profile">
    <div class="profile__data hide-sm">
        <div class="ava">
            <img src="https://picsum.photos/57" alt="">
        </div>
        <div class="txt">
            Артемьев<br>
            Дмитрий Владимирович
            <div class="text-muted small">Адвокат, Кировский район
                города Санкт-Петербурга</div>
        </div>
    </div>
    <div class="profile__actions overflow hide-sm">
        <a href="/" class="text-muted f-left">Изменить пароль</a>
        <a href="/" class="text-danger f-right"><b>Выйти</b></a>
    </div>
</section>