<section class="questionary">
    <div class="questionary__header hide-sm">
        <b>Ваши анкеты</b>
    </div>
    <div class="questionary__item danger">
        <div class="folder-type"></div>
        <div class="txt hide-sm">
            Гражданское судопроизводство
            <div class="small text-muted">Анкета активна</div>
        </div>

    </div>
    <div class="questionary__item info">
        <div class="folder-type"></div>
        <div class="txt hide-sm">
            Административное судопроизводство
            <div class="small text-muted">Анкета активна</div>
        </div>
    </div>
    <div class="questionary__item warning">
        <div class="folder-type"></div>
        <div class="txt hide-sm">
            Уголовное производство
            <div class="small text-muted">Анкета активна</div>
        </div>
    </div>
</section>