<aside class="sidebar">
    <section class="sidebar__header">
        <a href="/" class="logo">
            <span class="hide-sm">«Адвокатура»</span>
        </a>
        <!--/ toggle class `opened` for `menu-toggle` /-->
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    //= profile.html
    //= questionary.html
    <div class="feedback-holder hide-sm">
        <div class="button">
            Связь с адвокатской палатой
        </div>
    </div>
</aside>