<div class="tab-header">
    <div>
        <div class="badge warning filter-icon"></div>
        <h2>
            Заявки
            <span class="order-counter text-muted-c">[&nbsp;42&nbsp;]</span>
        </h2>
        <div class="badge danger">Новая</div>
        <div class="badge info">В ожидании</div>
        <div class="badge success">Распределена</div>
        <div class="badge decline">Отклонена</div>
        <div class="badge closed">Закрыта</div>
    </div>
    <div>
        <form action="" class="show-select">
            <label for="">
                Показывать на странице
                <select name="" id="">
                    <option>25</option>
                    <option>30</option>
                    <option>40</option>
                </select>
            </label>
        </form>

    </div>
</div>