<table role="table" class="order-table">
    <thead role="rowgroup">
    <tr role="row">
        <th role="columnheader">Номер заявки</th>
        <th role="columnheader" >Дата отправки</th>
        <th role="columnheader">ФИО лица, которому<br>
            назначается адвокат</th>
        <th role="columnheader">Дата и время<br>
            процессуального действия</th>
        <th role="columnheader">ФИО лица, принявшего<br>
            решение о назначении адвоката</th>
        <th role="columnheader">Статус</th>
    </tr>
    </thead>
    <tbody role="rowgroup">
    <tr role="row" class="declined">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>
    <tr role="row">
        <td role="cell" data-title="Номер заявки"><a>18654/65</a></td>
        <td role="cell" data-title="Дата отправки">13.04.2015 20:25</td>
        <td role="cell" data-title="ФИО лица, которому назначается адвокат">Дон Рондон Дон</td>
        <td role="cell" data-title="Дата и время">03.05.2045 13:30</td>
        <td role="cell" data-title="ФИО лица, принявшего решение о назначении адвоката">Рододон Дон Дон</td>
        <td role="cell" data-title="Статус">Отклонена</td>
    </tr>

    </tbody>
</table>
